// tabs.scss
$bleu_50: #11bad5;
$gris_50 : #495057;
.comp{
  &-tab{
    .nav{
      li{
        a{
          color: $gris_50;
          &.active{
            background: none;
            border: 0 none;
            border-bottom: 1px solid #11bad5;
            font-weight: bold;
          }
          &:hover,
          &:focus,
          &:focus-visible{
            border: 0 none;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}