.container {
    padding-top: 40px;
    padding-left: 10px;
}

.header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 100
}


.card-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #f0f7fa;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.card:hover {
    background-color: #9bcdff;
    color: #000;
}

.card-title {
    max-width: 150px;
}

.card-icon {
    max-width: 25px;
}

@media (max-width: 799px )  {
    .card-container {
        grid-template-columns: 1fr;
    }
    
}


